{% extends "base.html" %}
{% block title %}<title> Об авторе проекта </title> {% endblock %}
{% block content %}
     <div class="container py-5">
    <h1>Привет, я автор</h1>
    <p>Привет, я Ваня! Я пишу код для автоматизации различного вида учета и
        бизнес процессов на предприятии, которое производит оборудование для
        организации воздушного движения, навигации и летные тренажеры.</p>

    <p>Родился, учился и живу в Санкт-Петербурге.</p>

    <p>Где-то с 2018 года меня сильно увлекли походы и горы. Люблю долго ходить
        под тяжелым рюкзаком и с ним же лезть в гору, проводить ночи в палатке и
        есть странные сублиматы. Зимой в походы ходить тяжело, и здесь меня
        выручают беговые лыжи.</p>

    <p>На работе решаю различные задачи по автоматизации учета и бизнес
        процессов, а так же задачи интеграции учетных систем друг с другом.
        Основным инструментом для решения этих задач является 1с.</p>

    <p>Свободное от работы время пытаюсь тратить на образование. Летом на
        выходных стараюсь ходить в походы выходного дня. В этом году было много
        каякинга, рафтинга и байдаринга на Ладоге, Вуоксе и Таре.</p>
     </div>
{% endblock %} 